.boardInput {
  padding: 10px;
  padding-bottom: 35px;
  width: 750px;
  height: 60px;
  margin: 40px 10px 20px 10px auto;
  margin-top: 10px;
  border: none;
  border-radius: 0px;
  font-size: 30px;
  font-family: 'NanumBarunGothicBold';
  font-weight: normal;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}

.boardTextArea {
  padding: 10px;
  width: 750px;
  height: 600px;
  margin: 0 auto;
  margin-top: 10px;
  border: none;
  font-family: 'NanumBarunGothicLight';
  font-weight: bold;
  border-radius: 10px;
  /* box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2); */
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  font-size: 18px;
  line-height: 30px;
}

.boardInput::placeholder {
  font-size: 30px;
  font-family: 'NanumBarunGothicBold';
  font-weight: normal;
}

.boardTextArea::placeholder {
  font-size: 18px;
  font-family: 'NanumBarunGothicLight';
  font-weight: bold;
}

.commentInput {
  padding: 10px;
  width: 300px;
  margin: 0 auto;
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
}

.replyInput {
  padding: 10px;
  width: 300px;
  margin: 0 auto;
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
}
