/* 헤더 상단바 */
.HeaderBox {
  max-width: 1280px;
  margin: 0 auto;
}
.navbar {
  font-family: 'SCDream';
  background-color: #fff;
  height: 60px;
  width: 100%;
  padding-top: 5px;
  display: flex;
  justify-items: center;
  align-items: center;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5);
  padding-right: 100px;
  padding-left: 100px;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
  font-weight: 600;
  font-size: 17.5px;
}
.nav-text a {
  text-decoration: none;
  color: #000;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px 0 0;
  border-radius: 4px;
}
.nav-text a:hover {
  background-color: #c5ad81;
  color: #fff;
}

.logo-img {
  width: 40px;
  padding-right: 5px;
  padding-top: 3px;
}
span {
  margin-left: 16px;
  margin-top: 5px;
}
.HeaderBox {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 글자로고 */
.Quotka {
  letter-spacing: 1.8px;
  font-size: 25px;
  margin-right: 26%;
  font-weight: 900;
}
.QuotkaNav {
  position: absolute;
  right: 0;
  left: 10%;
  top: 7px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 55%;
  height: 50px;
  padding: 0px 0px;
  font-size: 14px;
}

/* 회원가입 버튼 */
.registbar {
  border-radius: 8px;
  font-weight: 600;
  padding: 7px 0px 5px 0px;
  color: #000;
}
.registbar:active {
  opacity: 0.5;
}
/* 로그인 버튼 */
.loginbar {
  font-weight: 600;
  padding: 7px 30px 0px 0px;
}

.loginbar:active {
  opacity: 0.5;
  color: #ccc;
}

/* 로그아웃 */
.logoutbar {
  font-weight: 600;
  width: 100px;
  background-color: white;

  padding: 7px 30px 5px 0px;
}
.logoutbar:active {
  opacity: 0.5;
  color: #ccc;
}
/* 프로필 크기 */
.profile {
  width: 25px;
  height: 25px;
}
/* 비로그인시 : 프로필 이미지 + 로그인 버튼 + 로그아웃 버튼 */
/* 로그인시 : 프로필 이미지 + 로그아웃 버튼 + ***님 환영합니다 */
.userView {
  display: flex;
  width: 300px;
  margin: 20px;
}
/* 프로필 이미지 + ***님! */
.profileBox {
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  cursor: pointer;
  margin-left: -20px;
}
/* ***님! */
.userName {
  font-family: 'SCDream';
  padding: 7px 0px 5px 0px;
  font-size: 16px;
  font-weight: 900;
  padding-top: 4px;
  padding-left: 5px;
  width: 145px;
  border: none;
  cursor: pointer;
}

.login-register {
  margin-left: 80%;
}
